body
{
background-color: #e3e3e3;
background-image: url('\\static\\bg.jpg');
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
.slct {
	width: 10;
    padding: 1em;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.slct option:focus {  
	background-color: wheat;  
	outline: none;  
  }  


 .container{
	width: 600px;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}


.card{
	width: 800px;
	text-align: center;
	padding: 20px;
	margin-bottom:10px ;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
	background-color: white;
}

.home{
	width: 800px;
	height: 300px;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	font-size: 50px;
	font-weight: bold;
	font-family: 'Arial Narrow', Arial, sans-serif;
	margin:auto;
	padding: auto;
}


body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
h3 {
    text-align: center;
    color: #413b3b;
    text-transform: uppercase;
    font-size: 30px;
}

h4 {
    text-align: center;
    color: #413b3b;
    text-transform: uppercase;
    font-size: 20px;
}
h5 {
    text-align: center;
    color: #82807f;
    margin: 80px auto;
    font-size: 20px;
    width: 50%;
    line-height: 1.7;
}
.box {
    text-align: center;
}

.overlay1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay1:target {
    visibility: visible;
    opacity: 1;
}



.wrapper1 {
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.wrapper1 h2 {
    margin-top: 0;
    color: #333;
}
.wrapper1 .close1 {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.wrapper1 .close1:hover {
    color: #06D85F;
}
.wrapper1 .content1 {
    max-height: 30%;
    overflow: auto;
}

.container1 {
    width: 550px;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

form label {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.summary{
	padding: 10px 10px;
	margin: 5px 5px;
	border: 1px;
	border-style: solid;
  border-color: red;
	
}


.alert {
	background-color: rgb(0,255,0);
	font-size: 15px;
	padding: 3px;
	text-align: center;
}

 
input[type=text], input[type=password], textarea {  
	width: 100%;  
   padding: 15px;  
   margin: 5px 0 22px 0;  
   display: inline-block;  
   border: none;  
   background: #f1f1f1;  
 }  
 input[type=text]:focus, input[type=password]:focus {  
   background-color: wheat;  
   outline: none;  
 }   
div {  
			 padding: 10px 0;  
		  }  
 hr {  
   border: 1px solid #f1f1f1;  
   margin-bottom: 25px;  
 }  
 .submitbtn {  
   background-color: #4c96af;  
   color: white;  
   padding: 16px 20px;  
   margin: 8px 0;  
   border: none;  
   cursor: pointer;  
   width: 100%;  
   opacity: 0.9;  
 }  
 .submitbtn:hover {  
   opacity: 1;  
 } 

 label, h4, b,h1{
	color: black;
 }

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container > a  {
  background-color: #f1f1f1;
  width: 500px;
  margin: 10px;
  color: #000;
  height: auto;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}



