{% extends "layout.html" %}

{% block title %}
	Register
{% endblock %}

{% block main %}
 
<body> 
  <br>
  <br> 
  <form action="/complaint" method ="POST">
    <center><div class="container1">  
     <h1>Give your complaint</h1>  
    <hr>    
  
    <label> <b>What is your complaint ?</b></label> <br>
    <textarea cols="80" rows="5" name="comp" placeholder="Enter your complaint here" value="address" required></textarea> 
    <div style="text-align: left;">
      <h4> Do you wish to be anonymous</h4>
      <input type="radio" value="yes" name="anonymous"  > yes   
      <input type="radio" value="no" name="anonymous" checked> no
      <br> 
      <br>
      <input type="checkbox" value="notify" name="notify"  > Receive notification in case of reply.<br>     
    </div>
    <center><button type="submit" class="submitbtn">SUBMIT</button> </center>
  </div> 
</center>  
  </form>  
</body>  

{% endblock %}