{% extends "layout.html" %}
{% block title %}
    -faculty_question
{% endblock %}
{% block main %}
    <body>  
      <div>
        <!-- <form action="/faculty_idea" method ="POST"> -->
            <div>  
                <center>  <h1>List of Questions</h1> 
                  <hr>  
                  <h6 style="display:inline-block"> <a href="latestq" class="btn btn-light btn-block" type="submit" width="15px">Latest</a></h6>
                  <h6 style="display:inline-block"><a href="viewedq" class="btn btn-dark btn-block" type="submit" width="15px">Viewed</a></h6>
              <br>
              <br>    
                </center>
        </div>
        <center>
            <div>
            {% if session.latest %}
            {% for record in records %}
            <div >
                <div class="card">
                            <table >

									<tr>
										<td><p style="text-align: left;">{{record[9]}}</p></td>
										<td></td>
										<td></td>
										<td><a href="ignore/{{record[0]}}" class="btn btn-danger btn-xs" style="text-align: right;"  onclick="return confirm('Are You Sure For Ignore?')">x</a></td>
									</tr>

								
                                <td><b>Studentid:</b> {{record[1]}}</td>
                                
                                <td><b>Name:</b> {{record[2]}}</td>
                                
                                <td><b>Department:</b> {{record[3]}}</td>
                            </table>
                            <p> <b> Question: </b> {{record[5]}}</p>            
							<form action="/replysent/{{record[1]}}/{{record[0]}}" method ="POST">
                            <textarea cols="50" rows="2" name="answer" placeholder="Enter your Reply here" required></textarea>
                            <input type="submit" class="btn btn-success btn-xs" value="Send" />
                            </form>
                            
                        </div>
			</div>

            {% endfor %}
            {% elif session.viewed %}
            {% for record in records %}
            <div>
                <div class="card">
                            <table>
								<tr>
									<td><p style="text-align: left;">{{record[9]}}</p></td>
									<td></td>
									<td></td>
									<td><a href="ignore/{{record[0]}}" class="btn btn-danger btn-xs" style="text-align: right;"  onclick="return confirm('Are You Sure For Ignore?')">x</a></td>
								</tr>
                                <td><b>Studentsid:</b> {{record[1]}}</td>
                                <td><b>Name:</b> {{record[2]}}</td>
                                <td><b>Department:</b> {{record[3]}}</td>
                            </table>
                            <b style="text-align: left;">Question:</b>
                            <p style="text-align: left;">{{record[5][0]}}</p>
                            <b>{{record[5][2]}}</b>

							<form action="/editsentreply/{{record[1]}}/{{record[0]}}" method ="POST">
								<textarea cols="50" rows="2" name="answer" placeholder="Enter your Reply here" required></textarea>
								<input type="submit" class="btn btn-warning btn-xs" value="Edit" />
								</form>
            

                </div>
            </div>


            {% endfor %}
            {% else %}
            {% endif %}
            </center>
        </div> 
    </body>  
    {% endblock %}
