{% extends "layout.html" %}

{% block title %}
	-facultymenu
{% endblock %}

{% block main %} 
<body>  
  <div >  
    <center>  <h1> Faculty Main Menu</h1> </center>  
    <hr>
<div class="flex-container">

    <a href="faculty_question"> 
      <div><img src="static/qns.jpg" alt="Ask a Question" width="100" height="100" align="left"> 
    <strong>Questions</strong> 
  </div>
</a>
 <a href="faculty_complaint">
  <div> <img src="static/complaint.jpg" alt="Complaint" width="100" height="100"align="left">
    <strong>Complaints</strong>
  </div>
</a>
  <a href="faculty_idea">
    <div> <img src="static/idea.jpg" alt="idea" width="100" height="100" align="left">
      <strong>Ideas</strong>
    </div>  
  </a>
</div>
  </div> 

</body>  
{% endblock %}



