{% extends "layout.html" %}

{% block title %}
    facultyview
{% endblock %}

{% block main %}
    <body>  
      <div>
        <!-- <form action="/faculty_idea" method ="POST"> -->
          <div class="container">  
  <center>  <h1>List of Ideas</h1> 
    <hr>  
    <h6 style="display:inline-block"> <a href="latest" class="btn btn-light btn-block" type="submit" width="15px">Latest</a></h6>
	<h6 style="display:inline-block"><a href="viewed" class="btn btn-dark btn-block" type="submit" width="15px">Viewed</a></h6>
	<h6 style="display:inline-block;"> <a href="all" class="btn btn-light btn-block" type="submit" width="15px">All</a></h6>
    
  </center>  
  
          </div>
<div  id="statement">
	<font style ="color:white" > 
		<table class="table table-stripped">
			<thead>
				<th scope='col'> Name </th>
				<th scope="col"> Department </th>
				<th scope="col"> Ideas </th>
				<th scope="col"> Benifits </th>
				<th scope="col"> Date & Time </th>
				<th></th>
			</thead>
			<tbody>
				{% for record in records %}
				
					<tr>
						<td>
							{{record[2]}}
						</td>
						<td>
							{{record[3]}}
						</td>
						<td>
							{{record[4]}}
						</td>
						<td>  
							{{record[5]}}
						</td>
            			<td>  
							{{record[8]}}
						</td>
						<td>
							<!-- <h6 style="display:inline-block;"> <a href="x" class="btn btn-success btn-block" type="submit" width="15px">Reply</a></h6><strong><span><h6 style="display:inline-block"><a href="ignore" class="btn btn-danger btn-block" type="submit" width="15px">Ignore</a></h6></span></strong> -->
							<a href="idea_reply/{{record[1]}}" class="btn btn-success btn-xs" >Reply</a>
							<a href="ignore/{{record[0]}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Ignore?')">Ignore</a>
						
						</td>

					</tr>
				{% endfor %}
			</tbody>
			

		</table>
		</font>
	</div>
<!-- </form>  -->
</div>
</body>  
{% endblock %}