{% extends "layout.html" %}
{% block title %}
    Register
{% endblock %}
{% block main %}
    <body>  
        <style>
            body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
h3 {
    text-align: center;
    color: #413b3b;
    text-transform: uppercase;
    font-size: 80px;
    font-family: 'Zen Tokyo Zoo', cursive;
}
h5 {
    text-align: center;
    color: #82807f;
    margin: 80px auto;
    font-size: 20px;
    width: 50%;
    line-height: 1.7;
}
.box {
    text-align: center;
}
.button {
    font-size: 1em;
    padding: 15px 35px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #403e3d;
    border-radius: 50px;
}
.overlay1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay1:target {
    visibility: visible;
    opacity: 1;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.wrapper1 {
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.wrapper1 h2 {
    margin-top: 0;
    color: #333;
}
.wrapper1 .close1 {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.wrapper1 .close1:hover {
    color: #06D85F;
}
.wrapper1 .content1 {
    max-height: 30%;
    overflow: auto;
}
/*form*/

.container1 {
    border-radius: 5px;
    background-color: #e7e7e7;
    padding: 20px 0;
}
form label {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


        </style>
      <div>
        <!-- <form action="/faculty_idea" method ="POST"> -->
            <div>  
                <center>  <h1>List of Complaints</h1> 
                  <hr>  
                  <h6 style="display:inline-block"> <a href="latestc" class="btn btn-light btn-block" type="submit" width="15px">Latest</a></h6>
                  <h6 style="display:inline-block"><a href="viewedc" class="btn btn-dark btn-block" type="submit" width="15px">Viewed</a></h6>
              <br>
              <br>    
                </center>
        </div>
        <center>
            <div>
            {% if session.latest %}
            {% for record in records %}
            <div >
                <div class="card">
                            <table >

									<tr>
										<td><p style="text-align: left;">{{record[9]}}</p></td>
										<td></td>
										<td></td>
										<td><a href="ignore/{{record[0]}}" class="btn btn-danger btn-xs" style="text-align: right;"  onclick="return confirm('Are You Sure For Ignore?')">x</a></td>
									</tr>

								
                                <td><b>Studentid:</b> {{record[1]}}</td>
                                
                                <td><b>Name:</b> {{record[2]}}</td>
                                
                                <td><b>Department:</b> {{record[3]}}</td>
                            </table>
                            <p> <b> Complaint: </b> {{record[5]}}</p>            
							<form action="/replysent/{{record[1]}}/{{record[0]}}" method ="POST">
                            <textarea cols="50" rows="2" name="answer" placeholder="Enter your Reply here" required></textarea>
                            <input type="submit" class="btn btn-success btn-xs" value="Send" />
                            </form>
                            
                        </div>
			</div>

            {% endfor %}
            {% elif session.viewed %}
            {% for record in records %}
            <div>
                <div class="card">
                            <table>
								<tr>
									<td><p style="text-align: left;">{{record[9]}}</p></td>
									<td></td>
									<td></td>
									<td><a href="ignore/{{record[0]}}" class="btn btn-danger btn-xs" style="text-align: right;"  onclick="return confirm('Are You Sure For Ignore?')">x</a></td>
								</tr>
                                <td><b>Studentsid:</b> {{record[1]}}</td>
                                <td><b>Name:</b> {{record[2]}}</td>
                                <td><b>Department:</b> {{record[3]}}</td>
                            </table>
                            <b style="text-align: left;">Complaint:</b>
                            <p style="text-align: left;">{{record[5][0]}}</p>
                            <b>{{record[5][2]}}</b>

							<form action="/editsentreply/{{record[1]}}/{{record[0]}}" method ="POST">
								<textarea cols="50" rows="2" name="answer" placeholder="Enter your Reply here" required></textarea>
								<input type="submit" class="btn btn-warning btn-xs" value="Edit" />
								</form>
            

                </div>
            </div>


            {% endfor %}
            {% else %}
            {% endif %}
            </center>
        </div> 
    </body>  
    {% endblock %}