<!DOCTYPE html>
<html lang="en">

    <head>
	{% for message in get_flashed_messages() %}
 <div class="alert">{{message}}</div>
{% endfor %}

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link href="/static/styling.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <title style="font-family: 'Brush Script MT', cursive">Student setu {% block title %}{% endblock %} </title>
        <link rel="shortcut icon" href="{{url_for('static', filename = 'logo.jpg' )}}">
	</head>
	<body >
	
		<nav class="navbar navbar-expand-md navbar-light bg-dark border" width="100%">
		
            <a class="navbar-brand" href="/" ><b style="font-family: 'Trebuchet MS' ; font-size: 35px; color: aliceblue">Student setu</b></a>
			
			 <div class="logo mt-3 text">
	        <!-- <a class="nav-item" href="/"><img src="static/logo.jpg" alt="sheep-logo" height="50px" width="50px">
	            
	          </a> -->
	    </div>
			
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}


                {% if session.student %}
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/studentview">  <b style="color: aliceblue">Dashboard</b></a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout"> <b style="color: aliceblue">Log Out</b></a></li>
                </ul>
            
                <br>
                <br>

                {% elif session.faculty %}
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/logout"> <b style="color: aliceblue">Log Out</b></a></li>
                </ul>
                <br>
                <br>
                
                {% endif %}
   

                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register"><b style="color: aliceblue">Register</b></a></li>
                        <li class="nav-item"><a class="nav-link" href="/login"> <b style="color: aliceblue">Login</b></a></li>
                 
                    </ul>
                    <br>
                    <br>
                {% endif %}
            </div>
			
        </nav>
        <main>
            {% block main %}
            
            {% endblock %}
			 
        </main>
	</body>
</html>